<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
    {% block stylesheets %}{% endblock %}

    {% block javascripts %}{% endblock %}
</head>
<body>
<div class="container" style="padding-top: 20px">
    {% for label, messages in app.flashes(['success']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} alert alert-success">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['error']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} alert alert-danger">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% for label, messages in app.flashes(['warning']) %}
        {% for message in messages %}
            <div class="flash-{{ label }} alert alert-warning">
                {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    {% block body %}
    {% endblock %}
</div>
</body>
</html>
